.about {
    background-color: #F8F4F4;
}



.about__what {
    font-family: Syncopate;
    grid-column: 6/ span 2;
    padding-top: 13%;
    padding-left: 15%;
    grid-row: 4;
    font-weight: normal;
    font-size: 3vw;
    z-index: 3;
    text-transform: uppercase;
  
}

.about__wedo {
    font-family: Syncopate;
    font-weight: normal;
    grid-column: 7/ span2;
    grid-row: 5;
    text-transform: uppercase;
    font-size: 3vw;
}

.about-parent {
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    width: auto;
}



.about__image1 {
    height: 19vw;
    width: auto;
    grid-column: 5/span 2;
    grid-row: 6/span 2;
}

.about__image2 {
    height: 19vw;
    grid-column: 4/span 2;
    grid-row: 4/span 2;
    width: auto;
}


.about__body {
    
    font-size: 0.60vw;
    grid-row: 6/ span 2;
    grid-column: 7/ span 2;
    /* letter-spacing: 1px; */
    font-weight: 300;
    line-height: 300%;
}



@media screen and (max-width: 768px) {


.about__what__mobile {
    display: none;
}

@media screen and (max-width: 480px) and (min-width: 768px) {
    .about-parent {
        height: 100vh;
        width: auto;
    }

    .about__what__mobile {
        display: inline-block;
    grid-column: 4/ span 4;
    text-transform: uppercase;
    font-size: 4vw;
    grid-row: 2;
    font-family: Syncopate;
    }

    .about__what {
        display: none;
    }

    .about__wedo {
        display: none;
}
    }

    .about__image2 {
        height: 27vw;
    grid-column: 5/span 2;
    grid-row: 2/span 2;
    width: auto;
    margin-top: 56%;
    }

    .about__image1 {
        height: 27vw;
        width: auto;
        margin-top: 10%;
        grid-column: 6/span 2;
        grid-row: 4/span 2;
    }

    .about__body {
        font-size: 2.35vw;
    grid-row: 6/ span 6;
    grid-column: 1/ span 10;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
    /* letter-spacing: 1px; */
    font-weight: 300;
    line-height: 300%;
    }}
}