.academy {
    background-color:  #292929;
}

.academy-parent {
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    width: auto;
}

.academy__shape {
    background-color: #f8f4f4;
    grid-row: 1;
    grid-column: 1/ span 10;
    grid-row: 1/ span 2;
}

h1.academy__stylist {
    font-size: 3vw;
    font-family: Syncopate;
    color: #F3F3F3;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 10%;
    grid-column: 3/ span 2;
    grid-row: 4/ span 1;
}

h1.academy__instruction {
    font-size: 3vw;
    font-family: Syncopate;
    color: #F3F3F3;
    text-transform: uppercase;
    font-weight: 200;
    grid-row: 5;
    margin-left: 27%;
    grid-column: 3/ span 4;
    /* top: 34%; */
    /* left: 18%; */
    z-index: 4;
    /* margin-left: 243px; */
    /* margin-top: 30px; */
    /* position: absolute; */
}

.academy__img1 {
    height: 19vw;
    grid-column: 6 / span 4;
    grid-row: 4 /span 4;
    width: auto;
    
}

.academy__img2 {
    grid-column: 7 /span 2;
    grid-row: 2/ span 4;
    height: 15vw;
    width: auto;
   
}

.academy__img3 {
    height: 15vw;
    /* right: 51%; */
    /* top: 16%; */
    width: auto;
    /* position: absolute; */
    grid-column: 8 / span 2;
    grid-row: 3 / span 4;
   
}


.academy-view-courses {
    text-transform: uppercase;
    color: white;
    grid-column: 6;
    font-size: 0.80vw;
    grid-row: 8;
    border-style: 3px solid white;
    border: 2px solid #F6F2F2;
    text-align: -webkit-center;
    display: inline-block;
    margin-top: 5%;
    padding: 12px;
    display: inline-table;
    box-sizing: border-box;
}

.academy-view-courses:hover {
    background: white;
    color: #292929;
}

p.academy__body {
    height: auto;
    font-family: poppins;
    /* position: absolute; */
    /* top: 50%; */
    color: #F3F3F3;
    /* left: 14%; */
    text-align: justify;
    grid-row: 6 / span 2;
    grid-column: 3/ span 2;
    font-size: 0.60vw;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 300%;
}



@media screen and (max-width: 768px) {
  
.academy-parent {
    height: 50vh;
}

p.academy__body {
    height: auto;
    font-family: poppins;
    /* position: absolute; */
    /* top: 50%; */
    color: #F3F3F3;
    /* left: 14%; */
    text-align: justify;
    grid-row: 6 / span 2;
    grid-column: 2/ span 4;
    /* margin-left: 5%; */
    margin-right: 5%;
    font-size: 1vw;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 300%;
}
  
@media screen and (max-width: 480px) {
    .academy-parent {
        height: 32vh;
    }
}

p.academy__body {
    height: auto;
    font-family: poppins;
    /* position: absolute; */
    /* top: 50%; */
    color: #F3F3F3;
    /* left: 14%; */
    text-align: justify;
    grid-row: 6 / span 2;
    grid-column: 2/ span 4;
    /* margin-left: 5%; */
    margin-right: 5%;
    font-size: 1vw;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 300%;
}

}
