.awards {
    margin-bottom: 5%;
    margin-top: 5%;
}

.awards__parent {
    height: 10vh;
    width: auto;
    display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}

.awards__img-1,
.awards__img-2,
.awards__img-3,
.awards__img-4 {

    height: 5vw;
    margin: 5%;
    width: auto;
    
}

@media screen and (max-width: 768px) {
  
    .a.awards__parent {
        height: 5vh;
    }

    .awards__img-1, .awards__img-2, .awards__img-3, .awards__img-4 {
        height: 6vw;
        margin: 5%;
        width: auto;
    }
}

@media screen and (max-width: 480px)  { 
    .awards__parent {
        height: 5vh;

}}