.footer {
      align-self: flex-end;
}
.footer__parent {
    height: 20vh;
    width: auto;
    display: flex;
}
.footer__left {
  align-self: flex-end;
  margin-bottom: 5%;
}
.let__us {
    
}
.convo {
    
}
.social-1 {
    width: 100px;
    height: 100px;
}
.social-2 {
    width: 100px;
    height: 100px;
}
.address {
    
}

