.footer {
      
}
.footer__parent {
    display:flex;
    height: 100vh;
    width: auto;
}
.footer__left {
    justify-content:left;
    align-items:center;
    padding-right: 5%;
    margin-left: auto;
}
.let__us {
    
}
.convo {
    
}
.social-1 {
    width: 100px;
    height: 100px;
}
.social-2 {
    width: 100px;
    height: 100px;
}
.address {
    
}





div.input{
    justify-content: right;
    align-items:center;
    margin-right: auto;
    padding-left: 5%;
  }
  input{
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin:10px;
    box-sizing:border-box;
    border:1px solid rgba(0,0,0,0.05) ;
    padding:10px;
    width:200px;
    border-radius:4px;
    font-size:15px;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.08);
    transition: box-shadow 0.4s ease-in-out;
  }
  input:focus{
    box-shadow: 0px 3px 20px 6px rgba(0,0,0,0.12);
  }
  input[type="submit"]{
    background-color: black;
    color:#fff;
    transition: box-shadow 0.4s ease-in-out;
    cursor:pointer;
    
  }