.hero__box {
    position: relative;
        height: 100vh;
        width: auto;
}

.hero__nav_display {
    display: none;
}

.hero {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: top;
    background-image: url("../img/hero-img.jpg");
    background-color: #cccccc;
}

.hero__logo {
    color: white;
    font-family: Syncopate;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.27em;
    padding-top: 10px;
    position: absolute;
    border: 2px solid #F6F2F2;
    box-sizing: border-box;
    mix-blend-mode: exclusion;
    background-color: transparent;
    text-transform: uppercase;
    width: 72px;
    height: 71px;
    left: 61px;
    top: 58px;
}

.hero__logo:hover {
    background-color: white;
    color: black;
    mix-blend-mode: normal;

}

.hero__triangle {
    background-image: url("../img/header-triangle.jpg");
    background-size: cover;
    background-position: top;
    background-position-x: -3rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 48%;
    height: 73%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-transform: uppercase;
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: bold;
    line-height: 108px;
    font-size: 106px;
    text-align: center;
    letter-spacing: -2.2px;
    color: #FFFFFF;
}

.hero__ul li {
    display: block;
    padding: 20px;
    letter-spacing: 1px;
}

.hero__ul--innovate {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-shadow: none;
    font-family: Syncopate;
}

.hero__nav {
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    color: #F6F2F2;
    padding: 10px;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200px;
    line-height: 87px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.30em;
    position: absolute;
    z-index: 3;
    display: -webkit-inline-box;
    }
 /* Mobile nav */
 
.hero__nav a {
    color: #F6F2F2;
    display: block;
}

.hero__nav a:link {
    transition: all .3s;
    display: block;
}


.hero__nav a:visited {
    transition: all .3s;
}

.hero__nav a:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 0px -1px rgba(241, 240, 240, 0.637);
    display: block;

}

.hero__nav a:active {
    transform: translateY(-1px);
}

.hero__nav li {
    padding: 5px;
}

@media screen and (min-width: 700px) {
    .closebtn {
      display: none;
    }
  }


@media screen and (max-width: 480px)  {
    .hero__logo {
        top:auto;
        left: 80%;
    }
    .hero__box {
        position: relative;
            height: 50vh;
            width: auto;
        }
    
    .hero__nav {
        display: none;
    }
    .hero__nav.is-active {
        display: block;
        padding-top: 5%;
        line-height: inherit;
        font-size: 5vw;
        text-align: left;
        z-index: 4;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        background-color: black;
        transform: translate(-50%, -85%);
    }

    #closebtn {
        font-size: 40px;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .hero__nav li {
        padding: 4%;
    }


    .hero {
        height: 50vh;
        width: -webkit-fill-available;
        background-position-x: right;
        background-repeat: no-repeat;
    }

    .hero__ul {
        line-height: 22px;
        font-size: 40px;
} 

.hero__triangle {
    width: 98%;
    height: 67%;
}

}