
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
  display: flex;
}

html {
    width: 100%;
    height: 100%
}

img {
    max-width: 100%;
    width: 100%;

}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f8f4f4
}

.academy {
  margin-top: 20%;
}

